<div class="bg-custom-light-purple pt-10">
    <div class="w-[1326px] mx-auto max-w-full pl-5 pr-1">
      <div class=" items-center sm:flex sm:flex-row lg:flex-row flex flex-col-reverse  sm:pb-28 pb-80  ">
        <div class=" flex flex-1 w-full pt-10 sm:pt-0">
          <img src="assets/images/ss-min.png" class="w-full lg:w-4/5 sm:pl-11" />
        </div>
        <div class="lg:w-5/12 flex-1 pt-12 sm:pt-0 lg:pt-0">
            <div class="bg-custom-dark-purple w-28 h-1.5 animated-title"></div>
          <h1 class="animated-title text-5xl lg:text-7xl sm:text-5xl sm:leading-10 	tracking-wider pt-3 font-bold text-custom-dark-purple font-sans font-montserrat">Mobile Development</h1>
          <p class="italic text-lg font-poppins pt-10 pb-10">Image by <a class="underline" href="#">Freepik</a></p>
          <div class="">
            <button type="button" class="uppercase pr-24 pl-24 pt-4 pb-4 bg-custom-dark-pink rounded-lg text-white tracking-widest font-bold text-lg">About me</button>
          </div>

        </div>
      </div>
    </div>
  </div>
